{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Where the Truck</title>
    <link rel = "stylesheet" href ={% static "app/css/bootstrap.css"%}>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
        <ul class="nav nav-pills">
          {% if user.is_authenticated %}
      <li role="presentation" class="active"><a href="{% url 'index_view' %}">Home</a></li>
      <li role="presentation"><a href="{%url 'logout_view'%}?next=/">Logout</a></li>
      <li role="presentation"><a href="{%url 'vendor_listing_create_view'%}?next=/">Add your business update</a></li>
      <li role="presentation"><a href="{%url 'vendor_list_view'%}?next=/">Current vendor listings</a></li>
      <li role="presentation"><a href= "{% url 'sign_up_view' %}">Register an account</a></li>
        {% else %}

      <li role="presentation" class="active"><a href="{% url 'index_view' %}">Home</a></li>
      <li role="presentation"><a href="{%url 'login'%}">User login</a></li>

        {%endif%}
    </div>
  </nav>
  </head>

  <body>

      {% block content %}

      {% endblock %}

  </body>

</html>
